openapi: 3.2.0
info:
  title: Fat Zebra Partner Acquirers API
  version: 1.0.0
  summary: Partner-facing API for boarding and managing sub-merchants and their acquirer connections.
  description: 'The Partner API lets you (a Fat Zebra partner) create and manage your own

    merchants, board them onto acquirers, and manage the resulting acquirer

    connections.'
servers:
- url: https://gateway.pmnts.io/v2/partners
  description: Production
- url: https://gateway.pmnts-sandbox.io/v2/partners
  description: Sandbox
- url: https://gateway.pmnts-staging.io/v2/partners
  description: Staging
- url: https://gateway.test/v2/partners
  description: Local development
security:
- PartnerBasicAuth: []
tags:
- name: Acquirers
  description: The acquirer catalogue this partner may board onto.
paths:
  /acquirers:
    get:
      tags:
      - Acquirers
      summary: List acquirers this partner may board onto
      description: 'Scoped to the partner''s allowed set (derived from the processors behind

        each acquirer). Returns the list shape; `next_cursor` is always `null`

        (the catalogue is small and unpaginated).'
      operationId: listAcquirers
      responses:
        '200':
          description: Acquirer catalogue list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcquirerListEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /acquirers/{code}:
    parameters:
    - $ref: '#/components/parameters/AcquirerCode'
    get:
      tags:
      - Acquirers
      summary: Show one acquirer's detail
      description: 'Returns the acquirer''s `supported_currencies` and `supported_schemes`.


        An unknown or non-boardable acquirer code returns `404`.'
      operationId: showAcquirer
      responses:
        '200':
          description: Acquirer detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Acquirer'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    AcquirerListEnvelope:
      allOf:
      - $ref: '#/components/schemas/ListEnvelope'
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/Acquirer'
    Error:
      type: object
      required:
      - error
      properties:
        error:
          type: object
          required:
          - type
          - message
          - fields
          - request_id
          properties:
            type:
              type: string
              description: Machine-readable error category.
              enum:
              - authentication_error
              - not_found
              - conflict
              - validation_error
              - processor_error
            message:
              type: string
              description: Human-readable explanation of the error.
            fields:
              type: object
              additionalProperties:
                type: array
                items:
                  type: string
              description: Per-field validation messages. Empty object when not field-specific.
            request_id:
              type:
              - string
              - 'null'
              description: Correlation id for this request, for support and tracing (e.g. `req_a1b2c3`).
    ListEnvelope:
      type: object
      required:
      - items
      - next_cursor
      properties:
        items:
          type: array
          description: The page of results. Each list endpoint overrides the item type.
        next_cursor:
          type:
          - string
          - 'null'
          description: Id to pass as `starting_after` for the next page; `null` on the last page.
    Acquirer:
      type: object
      description: 'A catalogue entry describing one acquirer the partner may board onto.

        '
      required:
      - code
      - name
      properties:
        code:
          type: string
          description: Acquirer code (e.g. `nab`).
        name:
          type: string
          description: The acquirer's display name (e.g. `NAB`).
        supported_currencies:
          type: array
          description: Currencies this acquirer can settle.
          items:
            type: string
            description: ISO-4217 currency code (e.g. `AUD`).
        supported_schemes:
          type: array
          description: Card schemes this acquirer supports.
          items:
            type: string
            description: Card scheme name (e.g. `Visa`, `Mastercard`).
  responses:
    Unauthorized:
      description: Missing or invalid HTTP Basic credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            invalidToken:
              value:
                error:
                  type: authentication_error
                  message: Invalid or missing token
                  fields: {}
                  request_id: req_a1b2c3
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            notFound:
              value:
                error:
                  type: not_found
                  message: Couldn't find merchant
                  fields: {}
                  request_id: req_a1b2c3
  parameters:
    AcquirerCode:
      in: path
      name: code
      description: Acquirer code (e.g. `nab`).
      required: true
      schema:
        type: string
  securitySchemes:
    PartnerBasicAuth:
      type: http
      scheme: basic
      description: 'HTTP Basic. Send your reseller **username** as the Basic username and

        your reseller API **token** as the Basic password. Required on every

        endpoint.

        '
