openapi: 3.2.0
info:
  title: Fat Zebra Partner SSO API
  version: 1.0.0
  summary: Partner-facing API for boarding and managing sub-merchants and their acquirer connections.
  description: 'The Partner API lets you (a Fat Zebra partner) create and manage your own

    merchants, board them onto acquirers, and manage the resulting acquirer

    connections.'
servers:
- url: https://gateway.pmnts.io/v2/partners
  description: Production
- url: https://gateway.pmnts-sandbox.io/v2/partners
  description: Sandbox
- url: https://gateway.pmnts-staging.io/v2/partners
  description: Staging
- url: https://gateway.test/v2/partners
  description: Local development
security:
- PartnerBasicAuth: []
tags:
- name: SSO
  description: Partner SSO enforcement — read state, enforce, disable.
paths:
  /sso:
    get:
      tags:
      - SSO
      summary: Show SSO enforcement state
      description: 'Returns whether SSO is enforced for the partner, plus how many users

        are linked to the IdP versus not.'
      operationId: showSso
      responses:
        '200':
          description: The SSO enforcement state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SsoState'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /sso/enforce:
    post:
      tags:
      - SSO
      summary: Enforce SSO
      description: 'Turns on SSO enforcement for the partner. No body is expected. Returns

        `409 conflict` when active users aren''t yet linked to the IdP — they''d

        be locked out, so link them first.'
      operationId: enforceSso
      responses:
        '200':
          description: The SSO enforcement state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SsoState'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
  /sso/disable:
    post:
      tags:
      - SSO
      summary: Disable SSO enforcement
      description: Turns off SSO enforcement for the partner. No body is expected.
      operationId: disableSso
      responses:
        '200':
          description: The SSO enforcement state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SsoState'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Conflict:
      description: The request conflicts with the resource's current state.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            noActiveConnection:
              value:
                error:
                  type: conflict
                  message: merchant has no active processing connection
                  fields: {}
                  request_id: req_a1b2c3
    Unauthorized:
      description: Missing or invalid HTTP Basic credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            invalidToken:
              value:
                error:
                  type: authentication_error
                  message: Invalid or missing token
                  fields: {}
                  request_id: req_a1b2c3
  schemas:
    Error:
      type: object
      required:
      - error
      properties:
        error:
          type: object
          required:
          - type
          - message
          - fields
          - request_id
          properties:
            type:
              type: string
              description: Machine-readable error category.
              enum:
              - authentication_error
              - not_found
              - conflict
              - validation_error
              - processor_error
            message:
              type: string
              description: Human-readable explanation of the error.
            fields:
              type: object
              additionalProperties:
                type: array
                items:
                  type: string
              description: Per-field validation messages. Empty object when not field-specific.
            request_id:
              type:
              - string
              - 'null'
              description: Correlation id for this request, for support and tracing (e.g. `req_a1b2c3`).
    SsoState:
      type: object
      description: 'The partner''s SSO enforcement state and IdP-link counts.

        '
      required:
      - enforced
      - users_total
      - users_linked
      - users_unlinked
      properties:
        enforced:
          type: boolean
          description: Whether SSO is enforced for the partner.
        users_total:
          type: integer
          description: Total active users.
        users_linked:
          type: integer
          description: Active users linked to the IdP.
        users_unlinked:
          type: integer
          description: Active users not yet linked to the IdP.
  securitySchemes:
    PartnerBasicAuth:
      type: http
      scheme: basic
      description: 'HTTP Basic. Send your reseller **username** as the Basic username and

        your reseller API **token** as the Basic password. Required on every

        endpoint.

        '
