openapi: 3.2.0
info:
  title: Fat Zebra Billing API
  version: unknown
servers:
- url: https://billing.pmnts-sandbox.io/api/v1/
security:
- sec0: []
tags:
- name: Fat Zebra Billing
paths:
  ? ''
  : get:
      summary: Billing Entities
      description: ''
      operationId: billing-entities
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: Query string to match on billing entity registered_name
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{ "billing_entities": [] }'
              schema:
                type: object
                properties:
                  billing_entities:
                    type: array
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: ruby
          code: BillingEntity.search
        samples-languages:
        - ruby
      tags:
      - Fat Zebra Billing
components:
  securitySchemes:
    sec0:
      type: http
      scheme: basic
x-readme:
  headers: []
x-readme-fauxas: true
