{"openapi":"3.0.3","info":{"title":"Fat Zebra Billing","version":"unknown"},"servers":[{"url":"https://billing.pmnts-sandbox.io/api/v1/"}],"components":{"securitySchemes":{"sec0":{"type":"http","scheme":"basic"}}},"security":[{"sec0":[]}],"paths":{"":{"get":{"summary":"Billing Entities","description":"","operationId":"billing-entities","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string","description":"Query string to match on billing entity registered_name"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{ \"billing_entities\": [] }"}},"schema":{"type":"object","properties":{"billing_entities":{"type":"array"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"ruby","code":"BillingEntity.search"}],"samples-languages":["ruby"]}}},"/customers/{customer_id}/usage_records/batch":{"post":{"summary":"Push usage","description":"","operationId":"push-usage","parameters":[{"name":"customer_id","in":"path","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"usage_records":{"type":"array","items":{"properties":{"unit":{"type":"string"},"volume":{"type":"integer"},"tags":{"type":"array","default":[],"items":{"type":"string"}},"period_from":{"type":"string"},"period_to":{"type":"string"}},"type":"object"}}}},"examples":{"Request Example":{"value":{"usage_records":[{"unit":"transaction","volume":2935,"tags":["purchase","visa"],"period_from":"2017-08-31T00:00:00.000000+00:00","period_to":"2017-08-31T23:59:59.000000+00:00"},{"unit":"transaction","volume":136,"tags":["purchase","amex"],"period_from":"2017-08-31T00:00:00.000000+00:00","period_to":"2017-08-31T23:59:59.000000+00:00"}]}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}}},"x-readme":{"headers":[]},"x-readme-fauxas":true}