openapi: 3.2.0
info:
  title: gateway Reports API
  version: '1.0'
servers:
- url: https://gateway.pmnts-sandbox.io/v1.0
security:
- sec0: []
tags:
- name: Reports
paths:
  /reports/payouts/{date}:
    get:
      summary: Fetch a payout report for date
      description: ''
      operationId: fetch-a-payout-report-for-date
      parameters:
      - name: Content-Type
        in: header
        description: application/json
        schema:
          type: string
      - name: date
        in: path
        schema:
          type: string
          format: date
          default: '2022-01-01'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"successful\": true,\n\t\"response\": {\n\t\t\"payout_date\": \"2022-01-01\",\n\t\t\"payouts\": [{\n\t\t\t\"method\": \"VISA/MASTERCARD\",\n\t\t\t\"funding_account\": {\n\t\t\t\t\"bsb\": '123-345,\n\t\t\t\t\"account_number\": '0123456789'\n\t\t\t},\n\t\t\t\"amount\": 1000.00,\n\t\t\t\"reference\": \"FZ-20220929-HWZIJX\",\n\t\t\t\"detail\": {\n\t\t\t\t\"gross_processing_amount\": 1000.00,\n\t\t\t\t\"transaction_count\": 1,\n\t\t\t\t\"processing_fees_amount\": -10.00,\n\t\t\t\t\"disputes_count\": 1,\n\t\t\t\t\"disputes_amount\": -10.0\n\t\t\t}\n\t\t}]\n\t},\n\t\"errors\": []\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Invalid Date:
                  value: "{\n\t\"successful\": false,\n\t\"response\": null,\n\t\"errors\": [\n\t\t\"Invalid date parameter\"\n\t],\n}"
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: curl https://gateway.pmnts-sandbox.io/v1.0/reports/payouts/2022-01-01 -u TEST:TEST
        samples-languages:
        - curl
      tags:
      - Reports
  /reports/payouts/{date}/transactions:
    get:
      summary: Fetch a payout's transactions for date
      description: ''
      operationId: fetch-a-payout-report-for-date-transactions
      parameters:
      - name: Content-Type
        in: header
        description: application/json
        schema:
          type: string
      - name: date
        in: path
        schema:
          type: string
          format: date
          default: '2022-01-01'
        required: true
      responses:
        '200':
          description: '200'
          content:
            text/plain:
              examples:
                Result:
                  value: 'payout_date,transaction_date,amount,currency,txn_fee,payout_amount,transaction_type,card_type,Int/Domestic,card_category,reference,merchant_reference,receipt_number,payout_description,msf_fee,transaction_fee,interchange_fee,scheme_fee,fee_total

                    2024-01-01,2024-06-12,"$1,500.00",AUD,-$18.10,"$1,500.00",purchase,visa,International,Credit,001-P-NV0PZDZ3IINK3TEE,ref1422098896,75212PNV0PZD,FZ-20240613-C7OF8T,-$18.00,-$0.10,,,-$18.10

                    2024-01-01,2024-06-12,"$5,000.00",AUD,-$60.10,"$5,000.00",purchase,visa,International,Credit,001-P-EHVKBDVUUAGK4Q6C,ref633332999,75212PEHVKBD,FZ-20240613-C7OF8T,-$60.00,-$0.10,,,-$60.10'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Invalid Date:
                  value: "{\n\t\"successful\": false,\n\t\"response\": null,\n\t\"errors\": [\n\t\t\"Invalid date parameter\"\n\t],\n}"
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: curl https://gateway.pmnts-sandbox.io/v1.0/reports/payouts/2024-01-01/transactions -u TEST:TEST
        samples-languages:
        - curl
      tags:
      - Reports
components:
  securitySchemes:
    sec0:
      type: http
      scheme: basic
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
