{"openapi":"3.0.3","info":{"title":"FDMS TPP Merchant Onboarding","version":"unknown"},"servers":[{"url":"https://acquiring-sandbox.fatzebra.com.au/api/v1"}],"components":{"securitySchemes":{"sec0":{"type":"http","scheme":"basic"}}},"security":[{"sec0":[]}],"paths":{"/merchants":{"post":{"summary":"FDMS TPP Merchant Onboarding","description":"","operationId":"onboard-a-merchant","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Merchant Name"},"trading_name":{"type":"string","description":"Registered Trading Name (Free form text - 22 digit No special characters)"},"legal_name":{"type":"string","description":"Registered Legal Business Name (Free form text - 35 limitations No special characters)"},"business_number":{"type":"string","description":"Australian Business Number"},"company_number":{"type":"string","description":"Australian Company Number"},"contact_website":{"type":"string","description":"Company Website"},"business_type":{"type":"string","description":"Option that best describes the business (sole trader, partnership, corporation)"},"merchant_category_code":{"type":"string","description":"Merchant Category Code which best matches Customer type"},"ecommerce_enabled":{"type":"boolean","description":"Yes or No, if they are an ecommerce merchant then yes else no"},"trading_address_contact_name":{"type":"string"},"trading_address_line_1":{"type":"string"},"trading_address_line_2":{"type":"string"},"trading_address_line_3":{"type":"string"},"trading_address_line_4":{"type":"string"},"trading_address_city":{"type":"string"},"trading_address_state":{"type":"string"},"trading_address_postcode":{"type":"string"},"trading_address_country":{"type":"string"},"legal_address_contact_name":{"type":"string"},"legal_address_line_1":{"type":"string"},"legal_address_line_2":{"type":"string"},"legal_address_line_3":{"type":"string"},"legal_address_line_4":{"type":"string"},"legal_address_city":{"type":"string"},"legal_address_state":{"type":"string"},"legal_address_postcode":{"type":"string"},"legal_address_country":{"type":"string"},"signed_date":{"type":"string","description":"Date of signed agreement","format":"date"},"total_annual_cash_or_credit_debit_turnover":{"type":"integer","description":"Annual business turnover","format":"int32"},"total_annual_credit_turnover":{"type":"integer","description":"Annual Credit Card turnover","format":"int32"},"average_ticket_or_sales_amount":{"type":"integer","description":"Average sale size","format":"int32"},"card_present":{"type":"boolean","description":"Is Merchant Card Present"},"deposit_required":{"type":"boolean","description":"Deposit Required"},"deposit_percentage":{"type":"integer","format":"int32"},"average_delivery_time":{"type":"integer","format":"int32"},"recurring_transactions":{"type":"boolean"},"terminal_type":{"type":"string"},"config_code":{"type":"string"},"term_quantity":{"type":"integer","format":"int32"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl https://acquiring-sandbox.fatzebra.com.au/api/v1/merchants\n  {\n\t\"name\":\"test\",\n\t\"display_name\":\"test\",\n\t\"merchant_id\":\"1234567890123\",\n\t\"username\":\"testmerchant21e\",\n\t\"trading_name\":\"Joes Computers\",\n\t\"legal_name\":\"Joe Sampson IT\",\n\t\"business_number\":\"89154014777\",\n\t\"company_number\":\"343455432\",\n\t\"merchant_category_code\":\"8999\",\n\t\"timezone\":\"Sydney\",\n\t\"merchant_bank\":\"FDMS Australia\",\n\t\"currencies\":\"AUD\",\n\t\"enable_backup\":\"false\"\n\t\"card_acceptor_name\":\"Joes Computers\",\n\t\"card_acceptor_location\":\"Sydney\",\n\t\"card_acceptor_country\":\"AU\",\n\t\"trading_phone_number\":\"0298932425\",\n\t\"trading_email\":\"joe@joescomputers.com.au\",\n\t\"contact_website\":\"test.com\",\n\t\"type_of_business\":\"corporation\",\n\t\"trading_address_contact_name\":\"Joes Computers\",\n\t\"trading_address_line_1\":\"18 Anderson Lane\",\n\t\"trading_address_line_2\":null,\n\t\"trading_address_line_3\":null,\n\t\"trading_address_city\":\"Sydney\",\n\t\"trading_address_state\":\"NSW\",\n\t\"trading_address_postcode\":\"2000\",\n\t\"trading_address_country\":\"Australia\",\n\t\"ecommerce_enabled\":\"true\",\n\t\"legal_address_contact_name\":\"Joe Joe\",\n\t\"legal_address_line_1\":\"18 Anderson Lane\",\n\t\"legal_address_line_2\":null,\n\t\"legal_address_line_3\":null,\n\t\"legal_address_city\":\"Sydney\",\n\t\"legal_address_state\":\"NSW\",\n\t\"legal_address_postcode\":\"2000\",\n\t\"legal_address_country\":\"Australia\",\n\t\"signed_date\":\"2019-01-01\",\n\t\"total_annual_cash_or_credit_debit_turnover\":\"1000000\",\n\t\"total_annual_credit_turnover\":\"500000\",\n\t\"average_ticket_or_sales_amount\":\"200\",\n\t\"card_present\":\"false\",\n\t\"deposit_required\":\"false\",\n\t\"deposit_percentage\":\"0\",\n\t\"average_delivery_time\":\"7\",\n\t\"recurring_transactions\":\"false\",\n\t\"terminal_type\":\"519\",\n\t\"config_code\":\"Retail\",\n\t\"term_quantity\":\"1\",\n\t\"eftpos_processing_required\":\"false\",\n\t\"visa_processing_required\":\"true\",\n\t\"amex_processing\":\"true\",\n\t\"amex_processing_existing\":\"true\",\n\t\"amex_se_number\":\"888888888\",\n\t\"amex_new_required\":\"false\",\n\t\"diners_processing\":\"true\",\n\t\"diners_se_number\":\"888888888\",\n\t\"principals\": {\n\t\t\t\t\"first_name\":\"Joe\",\n\t\t\t\t\"middle_initial\":\"M\",\n\t\t\t\t\"surname\":\"Smith\",\n\t\t\t\t\"principal_type\":\"Beneficial Owner\",\n\t\t\t\t\"dob\":\"1999-01-01\",\n\t\t\t\t\"address_line_1\":\"1 Smith Street\",\n\t\t\t\t\"address_line_2\":null,\n\t\t\t\t\"address_line_3\":null,\n\t\t\t\t\"city\":\"Sydney\",\n\t\t\t\t\"state\":\"NSW\",\n\t\t\t\t\"postcode\":\"2000\",\n\t\t\t\t\"country\":\"Australia\",\n\t\t\t\t\"phone_number\":null,\n\t\t\t\t\"passport_number\":null,\n\t\t\t\t\"drivers_license\":null,\n\t\t\t\t\"drivers_license_state\":null\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\"first_name\":\"Joe\",\n\t\t\t\t\"middle_initial\":\"M\",\n\t\t\t\t\"surname\":\"Smith\",\n\t\t\t\t\"principal_type\":\"Authorised Signatory\",\n\t\t\t\t\"dob\":\"1999-01-01\",\n\t\t\t\t\"address_line_1\":\"1 Smith Street\",\n\t\t\t\t\"address_line_2\":null,\n\t\t\t\t\"address_line_3\":null,\n\t\t\t\t\"city\":\"Sydney\",\n\t\t\t\t\"state\":\"NSW\",\n\t\t\t\t\"postcode\":\"2000\",\n\t\t\t\t\"country\":\"Australia\",\n\t\t\t\t\"phone_number\":null,\n\t\t\t\t\"passport_number\":null,\n\t\t\t\t\"drivers_license\":null,\n\t\t\t\t\"drivers_license_state\":null\n\t\t\t\t}\n}"},{"language":"ruby","code":"require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://acquiring-sandbox.fatzebra.com.au/api/v1/merchants\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Post.new(url)\nrequest[\"accept\"] = 'application/json'\nrequest[\"content-type\"] = 'application/json'\nrequest.body = \"{\n\\\"name\\\":\\\"test\\\",\n\\\"display_name\\\":\\\"test\\\",\n\\\"username\\\":\\\"testmerchant21e\\\",\n\\\"trading_name\\\":\\\"Joes Computers\\\",\n\\\"legal_name\\\":\\\"Joe Sampson IT\\\",\n\\\"business_number\\\":\\\"89154014777\\\",\n\\\"company_number\\\":\\\"343455432\\\",\n\\\"merchant_category_code\\\":\\\"8999\\\",\n\\\"timezone\\\":\\\"Sydney\\\",\n\\\"merchant_bank\\\":\\\"Commonwealth\\\",\n\\\"card_acceptor_name\\\":\\\"Joes Computers\\\",\n\\\"card_acceptor_location\\\":\\\"Sydney\\\",\n\\\"card_acceptor_country\\\":\\\"AU\\\",\n\\\"trading_phone_number\\\":\\\"0298932425\\\",\n\\\"trading_email\\\":\\\"joe@joescomputers.com.au\\\",\n\\\"contact_website\\\":\\\"test.com\\\",\n\\\"type_of_business\\\":\\\"type business\\\",\n\\\"trading_address_contact_name\\\":\\\"Joes Computers\\\",\n\\\"trading_address_line_1\\\":\\\"18 Anderson Lane\\\",\n\\\"trading_address_city\\\":\\\"Sydney\\\",\n\\\"trading_address_state\\\":\\\"NSW\\\",\n\\\"trading_address_postcode\\\":\\\"2000\\\",\n\\\"trading_address_country\\\":\\\"Australia\\\"}\"\n\nresponse = http.request(request)\nputs response.read_body"}],"samples-languages":["curl","ruby"]}},"get":{"summary":"List merchants","description":"","operationId":"list-merchants","parameters":[{"name":"filter[onboarded]","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"count\": 2,\n  \"response\": [\n    {\n      \"username\": \"TEST\",\n      \"tpp_id\": 400,\n      \"tpp_job_id\": \"NY4000MB\",\n      \"tpp_name\": \"Acme Inc.\"\n      ...\n    },\n    {\n      \"username\": \"WAT\",\n      \"tpp_id\": 400,\n      \"tpp_job_id\": \"NY4000MB\",\n      \"tpp_name\": \"Acme Inc.\"\n      ...\n    }\n  ],\n  \"pagination\": {\n    \"current\": 1,\n    \"previous\": null,\n    \"next\": null,\n    \"per_page\": 10,\n    \"pages\": 1,\n    \"count\": 2\n  }   \n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl https://apply.merchantsolutions.com.au/api/v1/merchants?onboarded=false"}],"samples-languages":["curl"]}}},"/merchants/onboard":{"post":{"summary":"Onboard merchants (internal)","description":"","operationId":"update-merchants","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["usernames"],"properties":{"usernames":{"type":"array","items":{"type":"string"}}}},"examples":{"Request Example":{"value":{"usernames":["TEST","WAT"]}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"merchants\": [\n    {\n      \"username\": \"TEST\",\n      \"onboarded_at: \"2018-01-01T23:51:17Z\"\n    },\n    {\n      \"username\": \"WAT\",\n      \"onboarded_at: \"2018-01-01T23:51:17Z\"\n    }\n  ]\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}}},"x-readme":{"headers":[]},"x-readme-fauxas":true}