openapi: 3.2.0
info:
  title: gateway Disputes API
  version: '1.0'
servers:
- url: https://gateway.pmnts-sandbox.io/v1.0
security:
- sec0: []
tags:
- name: Disputes
paths:
  /disputes:
    get:
      summary: List disputes
      description: ''
      operationId: list-disputes
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
          default: application/json
      - name: from
        in: query
        description: Return disputes that were opened on or after this date, provided in the format 'YYYY-DD-MM'.
        schema:
          type: string
          default: 90 days ago
      - name: to
        in: query
        description: Return disputes that were opened up to and on this date, provided in the format 'YYYY-MM-DD'.
        schema:
          type: string
          default: today
      - name: search
        in: query
        description: Dispute reference or transaction fatzebra ID to search on.
        schema:
          type: string
      - name: status
        in: query
        description: 'Disputes of any status will be returned if this is not provided. Acceptable values: open, lost, won, expired, accepted.'
        schema:
          type: string
      - name: order_by
        in: query
        description: 'Acceptable values: opened_on, next_due_date.'
        schema:
          type: string
          default: opened_on
      - name: order_direction
        in: query
        description: 'Acceptable values: asc, desc.'
        schema:
          type: string
          default: desc
      - name: offset
        in: query
        description: Page number.
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: Number of disputes to return per page.
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"successful\": true,\n    \"response\": {\n        \"has_more\": true,\n        \"records\": 2,\n        \"total_records\": 9,\n        \"page\": 1,\n        \"total_pages\": 5,\n        \"disputes\": [\n            {\n                \"opened_on\": \"2022-09-15\",\n                \"transaction_id\": \"092-P-JHXOULO0\",\n                \"reference\": \"202208036718\",\n                \"reason_code\": \"001\",\n                \"reason_description\": \"Fraud\",\n                \"amount_cents\": 1000000,\n                \"amount_currency\": \"AUD\",\n                \"next_due_date\": \"2022-09-30\",\n                \"status\": \"open\"\n            },\n            {\n                \"opened_on\": \"2022-09-15\",\n                \"transaction_id\": \"093-P-AX6XLKRT\",\n                \"reference\": \"342f0e9f3aa82119\",\n                \"reason_code\": \"001\",\n                \"reason_description\": \"Fraud\",\n                \"amount_cents\": 1000000000,\n                \"amount_currency\": \"AUD\",\n                \"next_due_date\": \"2022-09-30\",\n                \"status\": \"lost\"\n            }\n        ]\n    },\n    \"errors\": [],\n    \"test\": true\n}"
              schema:
                type: object
                properties:
                  successful:
                    type: boolean
                    example: true
                    default: true
                  response:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                        example: true
                        default: true
                      records:
                        type: integer
                        example: 2
                        default: 0
                      total_records:
                        type: integer
                        example: 9
                        default: 0
                      page:
                        type: integer
                        example: 1
                        default: 0
                      total_pages:
                        type: integer
                        example: 5
                        default: 0
                      disputes:
                        type: array
                        items:
                          type: object
                          properties:
                            opened_on:
                              type: string
                              example: '2022-09-15'
                            transaction_id:
                              type: string
                              example: 092-P-JHXOULO0
                            reference:
                              type: string
                              example: '202208036718'
                            reason_code:
                              type: string
                              example: '001'
                            reason_description:
                              type: string
                              example: Fraud
                            amount_cents:
                              type: integer
                              example: 1000000
                              default: 0
                            amount_currency:
                              type: string
                              example: AUD
                            next_due_date:
                              type: string
                              example: '2022-09-30'
                            status:
                              type: string
                              example: open
                  errors:
                    type: array
                  test:
                    type: boolean
                    example: true
                    default: true
        '422':
          description: '422'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"successful\": false,\n    \"response\": {},\n    \"errors\": [\n        \"Invalid date range\"\n    ],\n    \"test\": true\n}"
              schema:
                type: object
                properties:
                  successful:
                    type: boolean
                    example: false
                    default: true
                  response:
                    type: object
                    properties: {}
                  errors:
                    type: array
                    items:
                      type: string
                      example: Invalid date range
                  test:
                    type: boolean
                    example: true
                    default: true
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: curl https://gateway.pmnts-sandbox.io/v1.0/disputes -u TEST:TEST
        samples-languages:
        - curl
      tags:
      - Disputes
components:
  securitySchemes:
    sec0:
      type: http
      scheme: basic
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
